body{
	padding: 0;
	margin: 0;
	font-family: Calibri, sans-serif; 
}
div{
	box-sizing: border-box;
}
header{
	/*background: url(lol.png) no-repeat center top / cover;*/
	background-color: white;
	height: 146px;
	width: 100%;
}

.container{
	width: 1180px;
	margin: 0 auto;
}

.logo{
margin-top: 18px;
width: 96px;
height: 118px;
float: left;
}
.lineinclineheader{
	width: 40px;
	height: 1px;
	background-color: #305b90;
	transform: rotate(120deg);
	display: inline-block;
	margin-bottom: 6px;
}

.lineheader{
	width: 1180px;
	height: 1px;
	background-color: #1ab564;
	margin-top: 20px;
}

nav{
	float: right;
}

.menu{
	padding: 0;
	margin: 0;
	display: block;
	height: 50px;
}
.nav{
	margin: 0 auto;
}
.menu li{
   
   float: left;
display: block;
margin-right: 60px;
}

.menu a{
	color:#305b90;
	font-size: 30px;
	text-decoration: none;
}
.tittles{
	padding-top: 50px;	
}
.textpifagor{
	font-size: 40px;
	color: #305b90;
	font-weight: bold;
	display: inline-block;
}
.textcentrobr{
	font-size: 18px;
	color: #1ab564;
	font-weight: regular;
	display: inline-block;
	margin-left: -10px;
}

.logophone{
	margin-left: 180px;
}
.textnumberphone{
    margin-left: 10px;
    font-size: 24px;
    color: #305b90;
    display: inline-block;
}

.button{
	background-color: white;
	border: 1px solid #305b90;
	float: right;
	width: 220px;
	height: 50px;
	margin: 0;
	font-size: 24px;
	padding: 8px;
	color: #305b90;
	text-decoration: none;
	text-align: center;
	box-sizing: border-box;
}


#blackboard{
	background: url(blackboard.jpg) no-repeat center top / cover;
	height: 743px;
	margin-top: 50px;

}
.alltextblackboard
{
	margin-top:-60px;
}
.about1 p{
	font-size: 36px;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	padding-left: 40px;
	margin: 0;
}
.about1 span{
	color:#1ab564;
}

.about2 p{
	color: white;
	font-size: 24px;
	font-weight: regular;
	padding-left: 40px;
	margin:0;
	padding-top:25px;
}
.lineblackboard{
	width: 725px;
	height: 1px;
	background-color: #1ab564;
	margin-top: 25px;
	margin-left: 40px;
	
}

.formula1{
	width: 340px;
	height: 140px;
	padding-top: 20px;
	padding-left: 440px;
    margin: 0;
    }

 .formula2{
 	width: 400px;
	height: 330px;
	margin-top:10px;
    float:right; 
 }


 .infobox{
 	width: 960px;
 	height: 220px;
 	background-color: white;
 	border-radius: 50px;
 	margin-left: auto;
 	margin-right: auto;
 	margin-top:80px;
 	margin-bottom: 0;
 }
input{
	font-size: 20px;
 	color: white;
 	text-align: center;
 	width: 200px;
 	height: 60px;
 	border-radius: 30px;
 	background: #ABABAB;
 	border: none;
 	margin-top: 0px;
 	outline: none;
}

input[type="text"]::-webkit-input-placeholder {
    color: #305b90;
   } 
   input[type="text"]::-moz-placeholder {
    color: #305b90;
   }



 .nameinfobox{
    margin-left:40px;
   color:#305b90;
 }
.phoneinfobox{

 	margin-left:50px;
   color: #305b90;
}


 .zapicinfobox{
    width: 380px;
 	height: 70px;
 	background-color: #0571d6;
	font-size: 20px;
	padding: 24px;
	text-decoration: none;
	text-align: center;
	box-sizing: border-box;
		margin-left: 40px;
		border-radius: 35px;
		color: white;
}

.tittleinfo p{
	font-size: 40px;
	color:#305b90;
	padding-top: 30px;
	margin-left: 150px;
}

.tittleinfo span{
	text-transform: uppercase;
	font-weight: bold;
}

.teloedet{
	width: 160px;
	height: 160px;
	padding-left: 40px;
}

.energy{
	width: 150px;
	height: 130px;
	float: right;
	margin-right: 20px;
}
.images{
	margin-top: -210px;
}

#courses{
	background-color: white;
	height: 360px;
	width: 100%;
}

.magnit{
	width: 140px;
	height: 120px;
	opacity: 0.4;
	padding: 0;
	float: left;
	margin-top: -110px;
	margin-left: 180px;
}
.tittlesubjects {

    text-align: center;
    margin-top:56px;
    padding: 0;
}
.lin{
	width: 450px;
	height: 1px;
	background-color:#1ab564;
	margin: 0 auto; 
	margin-top: 10px;
	
}
.tittlesubjects p {
	font-weight: bold;
	text-transform: uppercase;
	color: #1ab564;
	font-size: 36px;
	margin:0;
	 }

.mayatnik{
	width: 160px;
	height: 230px;
	margin-left: -300px;
    opacity: 0.4;
}
.tittlesub1{
   
float: left;
display: block;
margin-right: 50px;
}

.tittlesub2{
   
float: left;
display: block;
margin-right: 50px;
}

.tittlesub3{
 float: left;
display: block;
margin-right: 50px;
}


.tittleob li{
	color:black;
	font-size: 36px;
	text-decoration: none;
	list-style-type: none;
	line-height: 1.5;
}

.tittleob{
	margin-left: 190px;
	margin-top: -220px;
}

.sila{
	width: 140px;
	height: 70px;
margin-left: 500px;
opacity: 0.4;
margin-top: 20px;
}

.cars{
	width: 260px;
	height: 100px;
	float: right;
	opacity: 0.4;
}
#footer{
	background: url(blackboard.jpg) no-repeat center top / cover;
	height: 1180px;
}

.tittleadvant p{
	padding-top:50px;
	font-size: 40px;
	font-weight: bold;
	color: white;
	text-align: center;
	text-transform: uppercase;
	margin:0;
}
.tittleadvant span{
	color: #1ab564;
}
.line{
	width: 880px;
	height: 1px;
	background-color:#1ab564;
	margin: 0 auto; 
	margin-top: 10px;
}

.item{
	margin-top: 30px;
	padding-left: 5px;
	padding-right: 5px;
   width: 320px;
   height: 430px;
   float: left;
   text-align: center;
   background-color: white;
   border-radius: 20px;

}
.item h3{
	padding-top: 90px;
	padding-bottom: 10px;
	color:#305b90;
	font-size: 28px;
	text-transform: uppercase;
	margin:0;
}
.liniya{
	width: 270px;
	height: 1px;
	background-color:#1ab564;
	margin: 0 auto; 
}
.item p{
color:#305b90;
font-size: 24px;
margin:0;
padding-top: 10px;
}
.boxsmall{
	float: right;
	margin-right: 30px;
	width: 80px;
	height: 70px;
	border-radius: 0 0 20px 20px;
	background-color: #0571d6;

}

h2{
	text-align: center;
	color: white;
	font-size: 24px;
}

.item:last-child{
	float: right;
}
.item:nth-child(2){
	margin-left:114px;
}
.pi{
width: 120px;
height: 120px;
float: right;
margin-top: 400px;
}
.atom{
	width: 170px;
	height: 140px;
	float: left;
	margin-left: 20px;
	margin-top:60px;
}

.video{
	width: 900px;
	height: 500px;
	margin-top: 50px;
	margin-left: 140px;
	margin-bottom: 0;
}
#blackboardcatalog{
	background: url(blackboard.jpg) no-repeat center top / cover;
	height: 620px;
	margin-top: 50px;
}

.bluebox{
	width: 255px;
	height: 42px;
	border-radius: 21px;
	background-color: #0571d6;
	margin: 0;
	padding: 10px;
	box-sizing: border-box;
	display: block;
}
.bluetittlebox1{
   
float: left;
display: block;
margin-right: 50px;

}

.bluetittlebox2{
   
float: left;
display: block;
margin-right: 50px;

}

.bluetittlebox3{
 float: left;
display: block;
margin-right: 50px;
}
.bluebox:last-child
{
	margin-top: 40px;
}
.bluebox:nth-child(2)
{
	margin-top: 40px;
}

.blue{
	height: 400px;
	width: 915px;
	padding-top: 100px;
margin: 0 auto;
}

.blue a{
	color: white;
	font-size: 20px;
	text-decoration: none;
	text-align: center;
	font-family: Calibri, sans-serif; 
	margin: 0;
}

.telo{
	width: 240px;
	height:240px;
	margin: 0;
	float:left;
	margin-left: 50px;
	margin-top: 80px;
}
.energ{
	width: 180px;
	height:180px;
	margin: 0;
	float:right;
	margin-right: 100px;
	margin-top: 250px;
}
.variantsclasses p
{

    font-weight: bold;
	text-transform: uppercase;
	/*color: #1ab564;*/
	color: white;
	font-size: 28px;
	margin:0;
}
.variantsclasses{
	width: 370px;
	height: 50px;
    margin: 0 auto;
    padding: 0;
}
.linegreen{
	width: 350px;
	height: 1px;
	background-color:#1ab564;
	margin-top: 20px;
	margin: 0 auto;
}

.vars{
	height: 300px;
	width: 740px;
	padding-top: 20px;
   margin: 0 auto;

}
.varcol1{
   
float: left;
display: block;
margin-right: 30px;

}
.varcol2{
   
float: left;
display: block;
margin-right: 30px;

}
.varcol3{
   
float: left;
display: block;
margin-right: 30px;

}
.varcol4{
   
float: left;
display: block;
margin-right: 30px;

}

.var:last-child
{
	margin-top: 20px;
}
.var:nth-child(2)
{
	margin-top: 20px;
}

.var{
	width: 155px;
	height: 36px;
	background-color: white;
	margin: 0;
	padding: 10px;
	box-sizing: border-box;
	display: block;
}
.vars a{
	color: #1ab564;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	font-family: Calibri, sans-serif; 
}

#foot{
	background-color: white;
	height: 300px;
}

.catalogzad{
	width: 240px;
	height: 50px;
    margin: 0 auto;
    margin-top: 40px;
}

.catalogzad p
{
    font-weight: bold;
	text-transform: uppercase;
	color: #1ab564;
	font-size: 28px;
	margin:0;
}
.linegr{
	width: 246px;
	height: 1px;
	background-color:#1ab564;
	margin-top: 10px;
	margin: 0 auto;
}

.topic p{
	color: #305b90;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 20px;
	padding: 0;
}
.subjects{
	color: #305b90;
	font-size: 24px;
}
.silas{
	float: right;
	width: 180px;
	height: 100px;
margin-right: 20px;
opacity: 0.4;
}
.mayatniks{
	float: right;
	width: 170px;
	height: 250px;
	margin-left: 120px;
	margin-right: 200px;
    opacity: 0.4;
}

#blackboardcost{
	background: url(blackboard.jpg) no-repeat center top / cover;
	height: 743px;
	margin-top: 50px;
}
.stoimost{
	width: 300px;
	height: 50px;
    margin: 0 auto;
    padding-top: 40px;
}

.stoimost p
{
    font-weight: bold;
	text-transform: uppercase;
	color: #1ab564;
	font-size: 28px;
	margin:0;
}
.contboard{
	width: 700px;
	height: 300px;
	margin: 0 auto;
}
.boardcost{
	margin-top: 60px;
	background-color:none;
	border: 4px solid white;
	border-radius: 25px;
	/*margin:0 auto;*/
	width: 700px;
	height: 350px;
	padding: 12px;
}
.boardcost p{
  font-size: 30px;
  color: white;
  text-decoration: none;

}
.boardcost span{
	font-size: 30px;
  color: #1ab564;
  text-decoration: none;
}